[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=DnDhelper
Exec=DnDhelper
Name=DnDhelper
# translation example:
# your app name in German locale (de)
Name[de]=DnDhelper

